<div class="row mt-3">
  <div class="col">
    <div class="fs-1 fw-bold text-primary">Order Placed</div>
    <div class="d-flex justify-content-end">
      <button type="button" class="btn btn-secondary" routerLink="['/']">Back</button>
    </div>
  </div>
</div>

<div class="row mt-2">
  <div class="col">
    <p> Your order details are below</p>
    <table class="table table-striped">
      <tbody>
        <tr>
          <td>Date:</td>
          <td> <code>{{ orderDetails.timestamp | date:'MMM dd, yyyy' }}</code> </td>
        </tr>
        <tr>
          <td>Order Id:</td>
          <td> <code>{{ orderDetails.order_id }}</code> </td>
        </tr>
        <tr>
          <td>Payment Id:</td>
          <td> <code>{{ orderDetails.payment_id }}</code> </td>
        </tr>
        <tr>
          <td>Total:</td>
          <td> <code>{{ orderDetails.total | currency }}</code> </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
